<p style="font-family:Times New Roman; font-size:30px;font-weight:bold; color:purple;">
Social Media Viral Content & Engagement Analysis
</p>

<p style="font-family:Times New Roman; font-size:20px;">
This notebook contains the exploratory data analysis (EDA) for the final project. <br>
The goal is to explore engagement patterns across platforms and content types to support data-driven decisions for digital marketing stakeholders.
</p>

In [32]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
pd.set_option("display.max_columns", None)
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

In [33]:
# Data import 
df = pd.read_csv("../Data/social_media_viral_content_dataset.csv", sep=",")

# View the data
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0
3,SM_100003,X,text,Politics,ur,US,2024-08-04 00:00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28 00:00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1

In [34]:
# Basic information, Exploring my dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   post_id          2000 non-null   object
 1   platform         2000 non-null   object
 2   content_type     2000 non-null   object
 3   topic            2000 non-null   object
 4   language         2000 non-null   object
 5   region           2000 non-null   object
 6   post_datetime    2000 non-null   object
 7   hashtags         2000 non-null   object
 8   views            2000 non-null   int64
 9   likes            2000 non-null   int64
 10  comments         2000 non-null   int64
 11  shares           2000 non-null   int64
 12  engagement_rate  2000 non-null   float64
 13  sentiment_score  2000 non-null   float64
 14  is_viral         2000 non-null   int64
dtypes: float64(2), int64(5), object(8)
memory usage: 234.5+ KB

In [35]:
# Describe the data - Descriptive statistics.
df.describe()

,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
count,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,4.284860e+06,245329.244000,24786.929000,49936.981500,0.157852,-0.000566,0.699000
std,3.246193e+06,145032.423582,14433.288364,29012.818697,0.535457,0.574911,0.458807
min,4.380000e+03,292.000000,14.000000,127.000000,0.035700,-1.000000,0.000000
25%,1.652742e+06,118903.750000,12337.750000,25698.750000,0.057975,-0.507000,0.000000
50%,3.469408e+06,239831.000000,24519.500000,50212.000000,0.084500,0.001000,1.000000
75%,6.348078e+06,372323.500000,37116.250000,75433.000000,0.142525,0.495250,1.000000
max,1.437179e+07,499983.000000,49989.000000,99977.000000,12.573200,0.999000,1.000000

In [36]:
# Dataset Shape
df.shape

(2000, 15)


<p style="font-family:Times New Roman; font-size:24px;font-weight:bold; color:darkred;">
Initial Observations, Data Quality Check & Feature Engineering
</p>

<ul style="font-family:Times New Roman; font-size:20px; list-style-type:square;">
  <li>The dataset contains engagement metrics such as likes, shares, comments, and views.</li>
  <li>Data appears to be structured and mostly clean.</li>
  <li>Engagement-related features will be used to create a combined engagement metric.</li>
</ul>

In [ ]:
# Numbers of unique values in each columns
df.nunique()

post_id            2000
platform              4
content_type          4
topic                 6
language              5
region                5
post_datetime       366
hashtags           1229
views              2000
likes              1996
comments           1954
shares             1978
engagement_rate    1176
sentiment_score    1251
is_viral              2
dtype: int64

In [38]:
# Check for missing values
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [39]:
# Find the duplicates
df.duplicated().sum()

np.int64(0)

<p style="font-family:Times New Roman; font-size:24px;font-weight:bold; color:darkred;">
Data Quality Summary
</p>

<ul style="font-family:Times New Roman; font-size:20px; list-style-type:square;">
  <li>The dataset does not contains any missing values.</li>
  <li>No significant duplicate records were found.</li>
  <li>Overall, the dataset is clean and suitable for exploratory analysis.</li>
</ul>

In [ ]:
# Feature Engineering - Creating a new feature 'total_engagement'
df["total_engagement"] = (
    df["likes"] +
    df["comments"] +
    df["shares"]
)

In [ ]:
# Validate Feature Engineering
df[["likes", "comments", "shares", "total_engagement"]].head()

    likes  comments  shares  total_engagement
0  122058     15800     861            138719
1  110368     11289   54887            176544
2   87598     47196   44132            178926
3  329465       774   59736            389975
4  199141      5316   83105            287562

In [ ]:
#Engagement Rate Calculation
df["engagement_rate"] = df["total_engagement"] / df["views"]


<p style="font-family:Times New Roman; font-size:24px;font-weight:bold; color:darkred;">
Feature Engineering
</p>

<ul style="font-family:Times New Roman; font-size:20px; list-style-type:square;">
  <li>A new feature `total_engagement` was created by combining likes, comments, and shares.</li>
  <li>This metric represents overall user interaction with content.</li>
  <li>It will be used as the primary KPI throughout the analysis.</li>
</ul>

<p style="font-family:Times New Roman; font-size:24px;font-weight:bold; color:darkred;">
From Data to Business Questions
</p>

<p style="font-family:Times New Roman; font-size:20px;">
After preparing the data, the next step is to align the analysis with stakeholder needs.
Based on the responsibilities of the digital marketing team, we define key business questions
and formulate hypotheses to guide the exploratory analysis.</p>